<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822102596029-lbhmr0qv2p6ojtefo1gnvk6ms0n7925k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822102596029-lbhmr0qv2p6ojtefo1gnvk6ms0n7925k</string>
	<key>API_KEY</key>
	<string>AIzaSyAaSk1CRa1Db_CFPvkFZgHHOxEYGNLvLZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>822102596029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.erikpersson.ProgPics</string>
	<key>PROJECT_ID</key>
	<string>progpics2020</string>
	<key>STORAGE_BUCKET</key>
	<string>progpics2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822102596029:ios:3ba5b27026627be7f25ad4</string>
	<key>DATABASE_URL</key>
	<string>https://progpics2020.firebaseio.com</string>
</dict>
</plist>